<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loanId.css') }}">
    <script src="{{ url_for('static', filename='script/brython.js') }}"></script>
    <script src="{{ url_for('static', filename='script/brython_stdlib.js') }}"></script>
    <title>my bank</title>
</head>
<body onload="brython()">
    <script type="text/python" src="{{ url_for('static', filename='script/loanId.py') }}"></script>
    <header>
      <h1>loan payment</h1>
    </header>
    <div class="table" id="table">
      <table id="customers">
      </table>
    </div>
    <div class="form">
      <button class="form-button" type="submit" id="pay">installment payment</button>
    </div>
    <p class="message" id="message">
    </p><br>
</body>
</html>